/* Estilos para el encabezado */
h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para el contenedor principal */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

/* Estilos para el input */
.custom-input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  padding: 12px;
  text-align: left;
}

/* Estilos para los botones */
button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* Estilos para la paginación */
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pagination-controls button {
  margin: 0 5px;
}

/* Estilos para el contenedor principal */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center; /* Centrar contenido del contenedor */
}

/* Estilos para la tabla */
table {
  width: 100%; /* Ocupa el ancho máximo permitido */
  max-width: 100%; /* Ancho máximo de la tabla */
  border-collapse: collapse;
  margin: 0 auto; /* Centra la tabla horizontalmente */
}

table th, table td {
  padding: 12px;
  text-align: left;
}

/* Estilos para los botones */
button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-danger {
  background-color: #007bff; 
  color: white;
}

.btn-danger:hover {
  background-color: #007bff; 
}

